<html>
<head>
    <title>Apps - Docs by Mario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/233ce86d92.js" crossorigin="anonymous"></script>

    <script>
        function closePopup() {
            document.getElementById("popup").style.display = "none";
        }
    </script>
</head>
<body>
    <!--
    <div class="popup" id="popup">
        <div class="popup-text">
            This is a docsbymario.com website. Find out more about <a href="https://docsbymario.com">our products</a>.
        </div>
        <div class="popup-close">
            <a href="#" onClick="closePopup()">X</a>
        </div>
    </div>
    -->
    <div class="menu">
        <div class="menu-title">
            <a href="/">Docs by Mario</a>
        </div>
        <div class="menu-search searchbox">
            <input type="text" placeholder="Type something here to search...">
        </div>
        <div class="menu-items">
            <div class="menu-item active">
                <a href="/apps"><i class="fa-solid fa-stream"></i> <span class="menu-item-text">Apps</span></a>
            </div>
            <div class="menu-item">
                <a href="/blog"><i class="fa-solid fa-book"></i> <span class="menu-item-text">Blog</span></a>
            </div>
            <div class="menu-item">
                <a href="/downloads"><i class="fa-solid fa-download"></i> <span class="menu-item-text">Downloads</span></a>
            </div>
        </div>
    </div>
    <div class="area-grid">
        <a href="http://api.docsbymario.com">
            <div class="box-grid">
                <div class="box-grid-title">
                    <i class="fa-solid fa-network-wired"></i> Mock APIs
                </div>
                <div class="box-grid-content secondary">
                    Endpoints for API testing. Not using any database or authentication processes. Every assertion will be made based on the response.
                </div>
            </div>
        </a>
        <div class="box-grid">
            <div class="box-grid-title">
                <i class="fa-solid fa-close"></i> Unavailable
            </div>
            <div class="box-grid-content secondary">
                This application is not available at this moment.
            </div>
        </div>
        <div class="box-grid">
            <div class="box-grid-title">
                <i class="fa-solid fa-close"></i> Unavailable
            </div>
            <div class="box-grid-content secondary">
                This application is not available at this moment.
            </div>
        </div>
        <div class="box-grid">
            <div class="box-grid-title">
                <i class="fa-solid fa-close"></i> Unavailable
            </div>
            <div class="box-grid-content secondary">
                This application is not available at this moment.
            </div>
        </div>
        <div class="box-grid">
            <div class="box-grid-title">
                <i class="fa-solid fa-close"></i> Unavailable
            </div>
            <div class="box-grid-content secondary">
                This application is not available at this moment.
            </div>
        </div>
        <div class="box-grid">
            <div class="box-grid-title">
                <i class="fa-solid fa-close"></i> Unavailable
            </div>
            <div class="box-grid-content secondary">
                This application is not available at this moment.
            </div>
        </div>
        <div class="box-grid">
            <div class="box-grid-title">
                <i class="fa-solid fa-close"></i> Unavailable
            </div>
            <div class="box-grid-content secondary">
                This application is not available at this moment.
            </div>
        </div>
        <div class="box-grid">
            <div class="box-grid-title">
                <i class="fa-solid fa-close"></i> Unavailable
            </div>
            <div class="box-grid-content secondary">
                This application is not available at this moment.
            </div>
        </div>
        <div class="box-grid">
            <div class="box-grid-title">
                <i class="fa-solid fa-close"></i> Unavailable
            </div>
            <div class="box-grid-content secondary">
                This application is not available at this moment.
            </div>
        </div>
        <div class="box-grid">
            <div class="box-grid-title">
                <i class="fa-solid fa-close"></i> Unavailable
            </div>
            <div class="box-grid-content secondary">
                This application is not available at this moment.
            </div>
        </div>
        <div class="box-grid">
            <div class="box-grid-title">
                <i class="fa-solid fa-close"></i> Unavailable
            </div>
            <div class="box-grid-content secondary">
                This application is not available at this moment.
            </div>
        </div>
        <div class="box-grid">
            <div class="box-grid-title">
                <i class="fa-solid fa-close"></i> Unavailable
            </div>
            <div class="box-grid-content secondary">
                This application is not available at this moment.
            </div>
        </div>
    </div>
</body>
</html>