<html>
<head>
    <title>Apps - Docs by Mario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://kit.fontawesome.com/233ce86d92.js" crossorigin="anonymous"></script>

    <script>
        function closePopup() {
            document.getElementById("popup").style.display = "none";
        }
    </script>
</head>
<body>
    <!--
    <div class="popup" id="popup">
        <div class="popup-text">
            This is a docsbymario.com website. Find out more about <a href="https://docsbymario.com">our products</a>.
        </div>
        <div class="popup-close">
            <a href="#" onClick="closePopup()">X</a>
        </div>
    </div>
    -->
    <div class="menu">
        <div class="menu-title">
            Apps
        </div>
        <div class="menu-search searchbox">
            <input type="text" placeholder="Type something here to search...">
        </div>
        <div class="menu-items">

        </div>
    </div>
    <div class="area">
        <div class="box-long">
            <div class="box-long-content">
                <div class="box-long-title">
                    Mock APIs
                </div>
                <div class="box-long-content">
                    Endpoints for API testing. Not using any database or authentication processes. Every assertion will be made based on the response.
                </div>
            </div>
            <div class="box-long-button">
                <button class="btn">
                    Go
                </button>
            </div>
        </div>
    </div>
</body>
</html>