<html>
<head>
    <title>Mock APIs - Docs by Mario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="../css/styles.css">

    <script>
        function closePopup() {
            document.getElementById("popup").style.display = "none";
        }
    </script>
</head>
<body>
    <!--
    <div class="popup" id="popup">
        <div class="popup-text">
            This is a docsbymario.com website. Find out more about <a href="https://docsbymario.com">our products</a>.
        </div>
        <div class="popup-close">
            <a href="#" onClick="closePopup()">X</a>
        </div>
    </div>
    -->
    <div class="menu">
        <div class="menu-title">
            Mock APIs for Testing
        </div>
        <div class="menu-search searchbox">
            <input type="text" placeholder="Type something here to search...">
        </div>
        <div class="menu-items">
            <div class="menu-item">
                About
            </div>
            <div class="menu-item">
                View More
            </div>
        </div>
    </div>
    <div class="box-area">
        <div class="box">
            <div class="box-header">
                <div class="box-header-items">
                    <div class="box-header-item">University</div>
                    <div class="box-header-item secondary">Faculty, Student</div>
                </div>
            </div>
            <div class="box-description">
                <div class="box-description-item">
                    <div class="badge-container">
                        <div class="badge blue">GET</div>
                        <div class="badge green">POST</div>
                        <div class="badge yellow">PUT</div>
                        <div class="badge red">DELETE</div>
                    </div>
                </div>
                <div class="box-description-item">
                    <p>Endpoints for managing a university. You can do all sort of calls on students and the faculties of a university.</p>
                </div>
            </div>
            <a href="/swagger">
                <div class="box-actions">
                    Open Swagger
                </div>
            </a>
        </div>
        <div class="box">
            <div class="box-header">
                <div class="box-header-items">
                    <div class="box-header-item">Store</div>
                    <div class="box-header-item secondary">Product, Order</div>
                </div>
            </div>
            <div class="box-description">
                <div class="box-description-item">
                    <div class="badge-container">
                        <div class="badge blue">GET</div>
                        <div class="badge green">POST</div>
                        <div class="badge yellow">PUT</div>
                        <div class="badge red">DELETE</div>
                    </div>
                </div>
                <div class="box-description-item">
                    <p>Endpoints for operating with an online store. You can manage orders and products that can be bought by your users.</p>
                </div>
            </div>
            <a href="#">
                <div class="box-actions">
                    Not available
                </div>
            </a>
        </div>
        <div class="box">
            <div class="box-header">
                <div class="box-header-items">
                    <div class="box-header-item">Tourism</div>
                    <div class="box-header-item secondary">Hotel, Room</div>
                </div>
            </div>
            <div class="box-description">
                <div class="box-description-item">
                    <div class="badge-container">
                        <div class="badge blue">GET</div>
                        <div class="badge green">POST</div>
                        <div class="badge yellow">PUT</div>
                        <div class="badge red">DELETE</div>
                    </div>
                </div>
                <div class="box-description-item">
                    <p>Endpoints for managing a touristic location. You can manage a certain amount of hotels, together with their rooms.</p>
                </div>
            </div>
            <a href="#">
                <div class="box-actions">
                    Not available
                </div>
            </a>
        </div>
    </div>
</body>
</html>