<html>
<head>
    <title>Apps - Docs by Mario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="https://docsbymario-env.s3.eu-north-1.amazonaws.com/fontawesome/css/all.min.css?v=1.0">

    <script>
        var searchBarDisplayed = false;

        function closePopup() {
            document.getElementById("popup").style.display = "none";
        }

        function showSearchBarOnMobile() {
            console.log(searchBarDisplayed);
            document.getElementById("search-mobile").style.display = searchBarDisplayed ? "none" : "inherit";

            searchBarDisplayed = !searchBarDisplayed;

            if (searchBarDisplayed) {
                document.getElementById("search-mobile-button").classList.add("active");
            }
            else {
                document.getElementById("search-mobile-button").classList.remove("active");
            }
        }

    </script>
</head>
<body class="body-dark">
<!--
<div class="popup" id="popup">
    <div class="popup-text">
        This is a docsbymario.com website. Find out more about <a href="https://docsbymario.com">our products</a>.
    </div>
    <div class="popup-close">
        <a href="#" onClick="closePopup()">X</a>
    </div>
</div>
-->
<form action="#" method="GET">
    <input type="submit" style="display: none">
    <div class="menu dark">
        <div class="menu-title dark logo">
            <a href="/">DocsByMario</a>
        </div>
        <div class="menu-search searchbox">
            <input type="text" class="textbox dark" placeholder="Type something here to search..." name="app-query">
        </div>
        <div class="menu-items">
            <div class="menu-item mobile dark" onclick="showSearchBarOnMobile()" id="search-mobile-button">
                <i class="fa-solid fa-search"> </i>
            </div>
            <div class="menu-item dark">
                <a href="http://docsbymario.com/apps"><i class="fa-solid fa-stream"></i> <span class="menu-item-text">Apps</span></a>
            </div>
            <div class="menu-item dark">
                <a href="#"><i class="fa-solid fa-book"></i> <span class="menu-item-text">Blog</span></a>
            </div>
            <div class="menu-item dark">
                <a href="#"><i class="fa-solid fa-download"></i> <span class="menu-item-text">Downloads</span></a>
            </div>
        </div>
    </div>
    <div class="menu dark" style="display: none" id="search-mobile">
        <input type="text" class="textbox dark" placeholder="Type something here to search..." name="app-query-mobile">
    </div>
</form>
<div class="area-grid">
    <div class="box-grid" th:each="app : ${apps}">
        <a th:href="${app.url}">
            <div class="box-grid-title">
                <i th:class="${app.icon}"></i> <span th:text="${app.name}"></span>
            </div>
            <div class="box-grid-content secondary">
                <span th:text="${app.description}"></span>
            </div>
        </a>
    </div>
</div>
</body>
</html>