<html>
<head>
    <title>DocsByMario</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/magicpattern.css">
    <link rel="stylesheet" href="https://docsbymario-env.s3.eu-north-1.amazonaws.com/fontawesome/css/all.min.css?v=1.0">

    <script>
        var searchBarDisplayed = false;

        function closePopup() {
            document.getElementById("popup").style.display = "none";
        }

        function showSearchBarOnMobile() {
            console.log(searchBarDisplayed);
            document.getElementById("search-mobile").style.display = searchBarDisplayed ? "none" : "inherit";

            searchBarDisplayed = !searchBarDisplayed;

            if (searchBarDisplayed) {
                document.getElementById("search-mobile-button").classList.add("active");
            }
            else {
                document.getElementById("search-mobile-button").classList.remove("active");
            }
        }






    </script>
</head>
<body class="body-dark">
<!--
<div class="popup" id="popup">
    <div class="popup-text">
        This is a docsbymario.com website. Find out more about <a href="https://docsbymario.com">our products</a>.
    </div>
    <div class="popup-close">
        <a href="#" onClick="closePopup()">X</a>
    </div>
</div>
-->
<form style="margin: 0" action="apps" method="GET">
    <input type="submit" style="display: none">
    <div class="menu dark">
        <div class="menu-title dark logo">
            <a href="/">DocsByMario</a>
        </div>
        <div class="menu-search searchbox">
            <input type="text" class="textbox dark" placeholder="Type something here to search..." name="app-query">
        </div>
        <div class="menu-items">
            <div class="menu-item mobile dark" onclick="showSearchBarOnMobile()" id="search-mobile-button">
                <i class="fa-solid fa-search"> </i>
            </div>
            <div class="menu-item dark">
                <a th:href="@{/apps}"><i class="fa-solid fa-stream"></i> <span class="menu-item-text">Apps</span></a>
            </div>
            <div class="menu-item dark">
                <a href="#"><i class="fa-solid fa-book"></i> <span class="menu-item-text">Blog</span></a>
            </div>
            <div class="menu-item dark">
                <a href="#"><i class="fa-solid fa-download"></i> <span class="menu-item-text">Downloads</span></a>
            </div>
        </div>
    </div>
    <div class="menu dark" style="display: none" id="search-mobile">
        <input type="text" class="textbox dark" placeholder="Type something here to search..." name="app-query-mobile">
    </div>
</form>
<section class="area-carousel magicpattern">
    <div class="area-carousel-row title">
        Your free companion in software development
    </div>
    <div class="area-carousel-row">
        <span class="area-carousel-description">The project I've built is meant to offer a wide range of functionalities for developer-oriented tasks.</span>
    </div>
    <div class="area-carousel-row">
        <div class="area-carousel-buttons">
            <a th:href="@{/apps}">
                <button class="btn btn-light btn-large"><i class="fa-solid fa-stream"></i> Discover Apps</button>
            </a>
            <a href="http://my.docsbymario.com">
                <button class="btn btn-light btn-large"><i class="fa-solid fa-user"></i> My Account</button>
            </a>
        </div>
    </div>
</section>
<section class="area">
    <div class="area-quote padded">
        <div class="quote">"This is going to be generated by an API someday. I promise!"</div>
        <div class="quote-author">- Mario Mateaș</div>
    </div>
</section>
<section class="area padded">
    <div class="area-small">
        <h1><i class="fa-solid fa-info"></i> About me</h1>
        <p>I'm a computer engineer currently living in Timișoara, Romania, and am working as a Java Developer for IBM.
            My plan is to create reliable open-source software solutions and documentation, both for myself and for
            others engaged in this field. My products can be found on the <a href="/apps">Apps</a> page, while this
            whole project is open-source and can be forked (take a look over <a href="https://github.com/docsbymario">here</a>).
        </p>
        <p>I have graduated from University Politehnica of Timișoara, with a bachelor's degree in Computer Engineering.
            I'm now working on my master's degree in Software Engineering at the same university, where I also teach
            several labs.</p>
        <p>My initial contact with open-source solution started while working for my bachelor's thesis, where I
            developed an open-source code editor, focused on simplicity. The repository can be accessed from my <a
                    href="https://github.com/mateasmario/pie">GitHub page</a>, where you can analyze the spaghetti code
            I've written and also download the latest binaries. I'll try to throw in several updates regularly, either
            bug fixes or new features.</p>
        <p>I'll also start a blog where I'll keep my findings related to object-oriented software development, that
            might also be helpful to other starting developers. Keep checking this website:) maybe you'll be pleasantly
            surprised.</p>

        <h1><i class="fa-solid fa-code"></i> Applications</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar erat quis dolor vulputate, ac
            porttitor nisi auctor. Vestibulum blandit consequat justo vitae condimentum. In sodales sed est faucibus
            suscipit. Morbi in commodo turpis. Nam id sagittis ipsum. Nullam aliquam condimentum neque, non laoreet
            dolor condimentum at. Duis non odio condimentum, interdum felis et, pretium augue. Maecenas pretium
            efficitur leo ut commodo.</p>
        <p> Nunc metus purus, tempus eget molestie vel, venenatis nec lorem. Donec sed magna ut ante molestie
            consectetur interdum in libero. Proin finibus, magna ut porttitor cursus, velit nunc consequat sem, non
            semper nisi lorem quis eros. Nunc feugiat bibendum leo et vulputate. Nullam et enim eu augue euismod gravida
            nec ut ipsum. Suspendisse molestie interdum augue, id tincidunt dolor consequat at. Vestibulum vel massa sit
            amet augue lobortis hendrerit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi finibus,
            nisl non molestie pharetra, tellus orci facilisis sem, id feugiat ligula ipsum vel enim. Morbi ultrices
            magna dignissim, lobortis ex vitae, ornare justo. Morbi gravida nisi ultrices, gravida odio eu, pharetra
            urna. Sed ornare, turpis aliquam elementum tincidunt, erat velit vulputate metus, in finibus eros mi ut
            dolor. Proin consequat porta neque, non dictum est interdum posuere. Suspendisse ac tellus sagittis,
            tincidunt tortor nec, lobortis erat. </p>
        <p> Sed sagittis quam ut quam aliquam pulvinar. Cras facilisis urna sit amet nulla placerat lobortis. Nunc
            fermentum lectus sed tincidunt aliquet. Suspendisse eget dignissim eros. Aliquam tristique risus molestie
            suscipit volutpat. Donec lobortis pulvinar dolor at pretium. Praesent malesuada semper ullamcorper. Nam
            lobortis elit congue felis maximus lacinia. Ut nec felis pretium, vehicula tellus et, interdum lectus.
            Mauris elementum sagittis diam, viverra pharetra massa vestibulum non. Duis sodales est id quam accumsan
            mattis. In efficitur, magna nec venenatis finibus, tellus elit maximus magna, quis pretium odio tortor quis
            augue. Vivamus nec auctor nibh. Vestibulum aliquet ut justo vitae molestie.</p>
    </div>
    <div class="area-small">
        <div class="whitespace"></div>
        <h1><i class="fa-solid fa-question"></i> Suggestions</h1>
        <h3>Cloud Platform Preparation Courses</h3>
        <p>During my student years, I got certified in both Azure and Amazon Web Services technologies, focusing on AWS
            due to better user experience (won't touch Azure again). However, I couldn't have completed my cert
            trainings without <a
                    href="https://www.udemy.com/user/stephane-maarek/?srsltid=AfmBOoobszx2v4GDpdOgIre7j6V0Os07IqhVb2Ewgieases7nJ-Y2Hfm">Stephane
                Maarek</a>'s amazing courses on Udemy. His theory courses, along with the preparation exams he offers
            both at the end of each chapter and as separate courses, will 100% guarantee you an easy win at the
            certification exam. Theory is not enough, though. After getting certified, make sure you start playing with
            AWS's interface. You'll fall in love faster than you ever imagined.</p>
        <h3>Java Language and Java Technologies</h3>
        <p><a href="https://www.selikoff.net/java-foundations/">Scott Selikoff and Jeanne Boyarsky's books</a> did the
            thing for me. The preparation for OCA8's exam actually helped me understand Java's core implementation, bit
            by bit. Would proudly spend half of my salary every month, if they released new books.</p>
        <p>Regarding frameworks, I'm most oriented towards Spring (not only Boot, but also the Batch part). <a
                href="https://spring.io/blog/2024/04/10/spring-academy-pro-content-now-free-to-access">Spring
            Academy</a> is a great place to start learning about it. Please try their videos. Skimming through their
            documentation can be harsh, because Spring isn't always backwards compatible and they rarely update their
            documentation... If there's one thing I hate about Spring, it's its way of staying up to date with its own
            implementation.</p>

        <h1><i class="fa-solid fa-envelope"></i> Contact Me</h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pulvinar erat quis dolor vulputate, ac
            porttitor nisi auctor. Vestibulum blandit consequat justo vitae condimentum. In sodales sed est faucibus
            suscipit. Morbi in commodo turpis. Nam id sagittis ipsum. Nullam aliquam condimentum neque, non laoreet
            dolor condimentum at. Duis non odio condimentum, interdum felis et, pretium augue. Maecenas pretium
            efficitur leo ut commodo.</p>
        <p> Nunc metus purus, tempus eget molestie vel, venenatis nec lorem. Donec sed magna ut ante molestie
            consectetur interdum in libero. Proin finibus, magna ut porttitor cursus, velit nunc consequat sem, non
            semper nisi lorem quis eros. Nunc feugiat bibendum leo et vulputate. Nullam et enim eu augue euismod gravida
            nec ut ipsum. Suspendisse molestie interdum augue, id tincidunt dolor consequat at. Vestibulum vel massa sit
            amet augue lobortis hendrerit. Interdum et malesuada fames ac ante ipsum primis in faucibus. Morbi finibus,
            nisl non molestie pharetra, tellus orci facilisis sem, id feugiat ligula ipsum vel enim. Morbi ultrices
            magna dignissim, lobortis ex vitae, ornare justo. Morbi gravida nisi ultrices, gravida odio eu, pharetra
            urna. Sed ornare, turpis aliquam elementum tincidunt, erat velit vulputate metus, in finibus eros mi ut
            dolor. Proin consequat porta neque, non dictum est interdum posuere. Suspendisse ac tellus sagittis,
            tincidunt tortor nec, lobortis erat. </p>
    </div>
</section>
</body>
</html>